section.thsr-detail-section
  .ui.fluid.container
    .ui.grid
      .detail-map.eleven.wide.computer.column
        #map.google-map
      .detail-restaurants.five.wide.computer.column
        - restaurants.each do |item|
          .ui.card.restaurant-card
            .image
              img.card-img src="https://maps.googleapis.com/maps/api/place/photo?photoreference=#{item.photo_reference}&sensor=false&maxheight=600&maxwidth=800&key=#{ENV['API_KEY']}"
            .content
              .header = item.name
              .meta
                | Operating Status: 
                = item.open_status
              .card-vicinity
                = item.vicinity
            .content
              .center.aligned
                .ui.star.rating data-rating="#{item.rating.to_i}" data-max-rating="5"
                span.card-rating-total-text
                  | (#{item.user_ratings_total} votes)
            .card-data
              .name #{item.name}
              .vicinity #{item.vicinity}
              .latitude #{item.latitude}
              .longtitude #{item.longtitude}



javascript:
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: #{first_location[:lat]}, lng: #{first_location[:lng]} },
      zoom: 17
    });

    const marker = new google.maps.Marker({
      map,
      position: { lat: #{first_location[:lat]}, lng: #{first_location[:lng]} },
      animation: google.maps.Animation.DROP,
    });
  }


  $(function() {
    $(".restaurant-card").click((event) => {
      let target = event.currentTarget;
      let dataDom = $(target).find('.card-data')[0];

      // get name
      let nameDom = $(dataDom).find('.name')[0];
      let nameValue = $(nameDom).text();

      // get vicinity
      let vicinityDom = $(dataDom).find('.vicinity')[0];
      let vicinityValue = $(vicinityDom).text();

      // get lat
      let latDom = $(dataDom).find('.latitude')[0];
      let latValue = $(latDom).text();
      
      // get lng
      let lngDom = $(dataDom).find('.longtitude')[0];
      let lngValue = $(lngDom).text();

      // mark on googlemap
      let marker = new google.maps.Marker({
        map,
        position: { lat: parseFloat(latValue), lng: parseFloat(lngValue) },
        animation: google.maps.Animation.DROP,
      });

      let content_html = '<b>'+ nameValue +'</b> <div>'+ vicinityValue +'</div>'
      let infowindow = new google.maps.InfoWindow({
        content: content_html
      });
      infowindow.open(map, marker);
    });
  });

