/* THSR Parking Style */

/* thsr header */
.thsr-header {
  display: block;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;

  .header-logo {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    line-height: 60px;
    font-weight: bold;
    cursor: pointer;

    span {
      display: block;
      height: 60px;
    }
  }
}

.thsr-body {
  // min-height: calc(93vh - 60px);
  height: calc(100vh - 60px) !important;
  margin-top: 10px;
}

/* thsr footer */
.thsr-footer {
  height: 7vh;
  line-height: 7vh;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #616161;
}


/* jumbotron */
.thsr-jumbotron {
  // background-image: url('https://i.imgur.com/maBCKjk.png');
  /* md */
  @media screen and (min-width: 992px) {
    // height: calc( 93vh - 60px );
    height: calc( 100vh - 60px );
  }

  .ui.grid {
    /* md */
    @media screen and (min-width: 992px) {
      // height: calc( 93vh - 60px );
      height: calc( 100vh - 60px );
    }
  }

  .jumbotron-content {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 80px;
    /* md */
    @media screen and (min-width: 992px) {
      margin-top: 0;
      margin-bottom: 0;
    }

    .content-title {
      width: 90%;
      font-size: 2.8rem;
      line-height: 3rem;
      padding-bottom: 30px;
      font-weight: bold;
      letter-spacing: 1.2px;
    }

    .content-description {
      width: 85%;
      font-size: 1.2rem;
      line-height: 2rem;
      color: #424242;
      word-spacing: 1.2px;
      padding-bottom: 50px;
    }

    .content-action {
      .action-btn {
        border-radius: 70px !important;
        // margin-left: -50px;
        padding-right: 50px;
        padding-left: 50px;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 1.2px;
      }
    }

    // .ui.dropdown.label {
    //   border-radius: 100px;
    //   padding-left: 30px;
    //   background-color: white !important;
    //   border: 1px solid rgba(34,36,38,.15);
    // }

    // .content-action {
    //   .action-input {
    //     padding-right: 50px;
    //   }

    //   .action-btn {
    //     border-radius: 70px !important;
    //     margin-left: -50px;
    //     padding-right: 50px;
    //     padding-left: 50px;
    //     text-align: center;
    //     font-size: 1.5rem;
    //     letter-spacing: 1.2px;
    //   }
    // }
  }

  .jumbotron-art {
    height: 100%;

    .art-image {
      height: 100%;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
    }
  }
}

// TODO: 
.thsr-station-section {
  height: 100vh;

  .thsr-station-menu {
    height: 12vh;
  }

  .thsr-station-content {
    width: 100%;
    position: relative;

    .station-img {
      border-radius: 5px;
      width: 100%;
      height: 80vh;
    }

    .content-img-mask {
      opacity: 0;
      width: 100%;
      height: 80vh;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 5px;

      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      transition: all .3s ease;
    }

    .content-action {
      opacity: 0;
      position: absolute;
      left: calc(50% - 48px);
      top: calc(50% - 18px);
      z-index: 3;
      transition: all .3s ease;
    }

    &:hover {
      .content-action, .content-img-mask {
        opacity: 1;
      }
    }

    .content-text {
      position: absolute;
      right: 30px;
      bottom: 63px;
      z-index: 3;

      color: white;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 0.2rem;
    }

    .content-sub-text {
      position: absolute;
      right: 30px;
      bottom: 25px;
      z-index: 3;

      color: white;
      font-weight: bold;
      font-size: 0.5rem;
      letter-spacing: 0.1rem;
    }
  }
}


/* thsr result */
.thsr-result-section {
  padding-top: 40px;
  .thsr-park-result-card {
    .thsr-park-service {
      margin-bottom: 13px;
      font-size: 18px;
      color: #616161;
    }
    .status-open {
      color: #4CAF50;
    }
    .status-close {
      color: #F44336;
    }
  
    .thsr-park-remain {
      padding-top: 10px;
  
      .ramain-available {
        display: inline-block;
        font-size: 30px;
        margin-right: 5px;
      }
      .ramain-total {
        display: inline-block;
        font-size: 15px;
        margin-left: 5px;
      }
    }

    .d-inline-block {
      display: inline-block !important;
    }
    .float-right {
      float: right;
    }
  }
}


// #map {
//   height: 400px;
//   width: 100%;
// }

// google map
.thsr-detail-section {
  .detail-map {
    // margin-top: 1rem;
    padding: 0 35px !important;
    padding-right: 15px !important;

    #timetable {
      height: calc(30vh);
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
      background: #FAFAFA;
      padding: 15px 20px;
      margin-bottom: 15px;

      .timetable-title {
        height: 10px;
        font-weight: bold;
        font-size: 1.1rem;
        color: #757575;

        .train-direction {
          float: right;

          .direction-btns {
            button {
              font-size: 0.4rem !important;
            }
          }
        }
      }

      .timetable-table {
        &::-webkit-scrollbar {
          display: none;
        }

        margin-top: 20px;
        height: 100%;
        overflow: auto;
      }

      // .timetable-label {
      //   font-size: 1rem;
      //   font-weight: bold;
      //   letter-spacing: 0.0825rem;
      //   margin-bottom: 5px;
      // }
    }
    
    #map {
      height: calc(70vh - 90px);
      width: 100%;
      border-radius: 15px;
    }
  }

  .detail-restaurants-sidebar {
    padding-left: 0 !important;
    // margin-top: 1rem;
    overflow: hidden;
    height: calc(100vh - 80px);
    background: #FAFAFA;
    border-radius: 15px;

    .sidebar-title {
      height: 10px;
      padding-left: 18px;
      font-weight: bold;
      font-size: 1.1rem;
      color: #757575;

      .count {
        margin-left: 8px;
      }
    }

    .sidebar-restaurant-cards {
      margin-top: 20px;
      height: calc(100vh - 100px);
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
  
      .restaurant-card {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
        cursor: pointer;
        box-shadow: none !important;
  
        .card-status {
          margin-left: 5px;;
          font-size: 0.2rem !important;
  
          &.status--success {
            color: #8BC34A;
          }
  
          &.status--error {
            color: #F44336;
          }
        }
  
        .card-img {
          height: 150px;
          width: 100%;
        }
  
        .card-vicinity {
          margin-top: 5px;
          color: #424242;
        }
  
        .card-rating-total-text {
          margin-left: 5px;
          font-size: 0.625rem;
        }
  
        .card-data {
          display: none;
        }
      }
    }
  }

 
}


